<launch>

    <arg name="control_freq" default="50"/>
    <arg name="target_freq" default="3"/>
    <arg name="control_mode" default="impedance"/>

    <node name="interpolator_node" pkg="interpolation" type="interpolation_node.py" output="screen">
        <param name="control_freq" type='double' value="$(arg control_freq)"/>
        <param name="target_freq" type='double' value="$(arg target_freq)"/>
        <param name="control_mode" type='str' value="$(arg control_mode)"/>
    </node>

</launch>
